# Godot 4+ specific ignores
.godot/
/android/
.DS_Store
character.png
character.png.import
character_n.png
character_n.png.import
character_s.png
character_s.png.import
light.webp
light.webp.import
test_scene.tscn
